<div class="article">
  <h1>合作协议</h1>
  <div class="ctx">
    <p>甲乙双方根据《中华人民共和国民法通则》、《中华人民共和国合同法》等有关法律、法规和其他规范性文件的规定，经过友好协商，在平等、互利的原则下，就甲方委托乙方进行产品推广一致达成如下协议。
      <p>
        <p>
          合作内容：<br> 1、乙方在遵守相关法律法规及监管机构、自律组织要求的前提下，为甲方指定的产品和服务进行推广。
          <br> 2、甲方同意将乙方视为代理人合作关系，按照正常流程将易点投的相关资源提供给乙方。 <br> 3、乙方以代理人身份拓展业务，增加易点投平台上服务的用户。
          <br> 4、合作推广期间，乙方可以使用但不限于以下推广形式：
          <br> （1）网络推广：乙方通过微信、博客、论坛等自有或公开网络平台推广甲方合作产品；
          <br> （2）电话推广：乙方通过电话形式向其客户推广甲方合作产品；
          <br> （3）现场推广：乙方通过现场活动形式向其客户推广甲方合作产品。
          <br> 上述推广方案由乙方制定，乙方进行产品推广的方式应经甲方同意认可，若因推广产生的法律纠纷、财务纠纷等，均与甲方无关。
          <br> 上述推广所发生的所有成本均由乙方自行承担，甲方不分担任何推广成本。
          <br> 7、乙方在自有渠道上为购买了甲方代理的产品或服务的客户提供其他的增值服务所产生的法律纠纷、财务纠纷等，均与甲方无关。
          <br>
        </p>
        <p>
          二、合作推广期限与合作义务关系<br> 1、本协议合作推广期限为：自 年 月 日至 年 月 日止，合作推广期限为1年。期满之前30个工作日内，任何一方均有义务向对方提出是否续签，协商决定是否继续展开合作。甲乙双方未提出续签请求的，本协议的合作推广期限自动终止。<br>          2、鉴于在本协议合作推广期限结束后，客户的服务期限尚未结束，故乙方收益分配在本合作协议终止后的三个月自动停止。
          <br> 3、如乙方有做假行为，甲方有权终止合同。如给甲方造成经济损失，乙方赔偿相应损失。
          <br>
        </p>
        <p>
          三、甲方权利及义务<br> 1、甲方保证，其在本协议签署之时，以及存续期间内，向乙方提供的所有证件、资料和其他信息均真实、准确、完整、有效。
          <br> 2、甲方有权对乙方在推广过程中使用的方法、话术、图文材料等提出规范要求。
          <br> 3、甲方有权根据乙方推广产生的效果对乙方提出意见并要求调整推广方案。
          <br> 4、甲方应遵守国家有关法律、法规和其他规范性文件的规定，不得要求乙方作出违反上述法律规范的推广行为。
          <br> 5、甲方应按照本协议约定条款向乙方提供业绩报表并支付相应的款项。
          <br> 6、甲方在不违背相关合作协议及损害合作方利益的前提下，有权对产品和服务的形式和定价作出相应的调整。
          <br>
        </p>
        <p>
          四、乙方权利及义务<br> 1、乙方有权根据本协议约定条款（附件《合作协议》）获得相应的合作推广费用。
          <br> 2、乙方有权对甲方提供的业绩报表进行核对并提出调整意见，双方友好协商解决。
          <br> 3、乙方行为需遵守国家法律、平台相关管理规则及“易点投”工作人员通过电话、邮件、QQ、站方公告等方式表达的日常管理规则。
          <br> 4、乙方未经甲方许可，不得将甲方平台用户引流至其他平台或与“易点投”业务无关的即时工具群组。
          <br> 5、由于乙方的原因导致客户向监管部门投诉的情况（包括但不限于隐瞒事实、夸大宣传、承诺收益、违背法律法规及监管部门要求、不遵守与甲方约定的推广规范等），甲方有权单方面解除协议。给甲方造成损失的，甲方有权追究乙方的法律和经济责任。
          <br> 6、乙方推广时所使用的方法、图文材料和话术等应当符合相关法律法规、监管部门要求及甲方业务规范。
          <br> 7、乙方应严格按照本协议约定和甲方要求进行推广活动。未经甲方同意，不得以甲方或甲方旗下任一平台名义对外从事任何经济行为；不得利用甲方品牌擅自进行与本协议无关的推广事项。乙方应当根据甲方意见对推广计划进行适时调整。
        </p>
        <p>
          五、其他：<br> 1、本协议通过签订纸质协议或通过电子网页进行确认均成立。电子网页确认中，乙方点击协议页面“同意”按钮即代表双方认可并执行该协议。未尽事宜，可通过补充协议、公告等形式进行补充。
          <br> 2、本协议自乙方点击“同意”按钮之日起生效。
          <br> 3、本协议附件是本协议的组成部分，和本协议具有同等法律效力。 甲方有权根据实际情况和现实需要对社区管理规则进行修改，甲方需将修改后的相关文件及时公布，并进行公告通知。 乙方需自行了解相关内容，并参照新的文件执行。<br>          4、甲方有对该协议拥有最终解释权。
        </p>
        <p>
          六、违约责任：<br> 1、甲乙双方任何一方未履行本协议项下的义务或者履行协议义务不符合约定的，均被视为违约。 违约方应承担因违约行为产生的责任（包括但不限于遭受投诉、处罚、诉讼、仲裁）与给另一方造成的损失（包括但不限于为应对投诉、处罚、诉讼、仲裁而产生的支出）。<br>          2、乙方因违反合同中的保密条款给甲方造成经济损失的，需承担相应的违约责任，包括赔偿甲方遭受的实际发生损失以及预计将要发生的损失。
          <br> 3、乙方因发生违法违规等行为，或因违反相关平台管理规则，给甲方带来法律、经济风险或造成不良影响的，甲方有权视情节轻重终止本协议并追究乙方相应的经济与法律责任。
          <br> 4、乙方若违反合同约定合作期限，要求提前解除合同的，应提前一周书面通知甲方。
        </p>
        <p>
          七、保密：<br> 1、甲乙双方同意，任何一方均不得对外透露本协议和其他相关往来文件的内容，但为履行本协议约定义务所需进行的正当披露除外；
          <br> 2、为履行本协议涉及的商业活动计划、策划方案以及其他商业信息均为保密信息。
          <br> 3、本协议下保密义务在本协议终止后一年仍有效。
        </p>
        <p>
          八、争议解决：<br> 1、本协议的成立、签订、效力、解释、履行、变更、终止和争议解决均适用中华人民共和国法律。
          <br> 2、因本协议引起或与本协议有关的任何争议，双方应本着友好协商的原则协商解决，协商不成可向甲方所在地有管辖权的人民法院通过诉讼的方式解决。
        </p>
  </div>
</div>