.login-form{
    position: fixed;
    width:100%;
    height:100%;
    left:50%;
    top:0;
    z-index: 1000;
    transform: translateX(-50%);
    background: #07263b;
    max-width: 750px;
}

.logo-box{
    width: 24%;
    margin: 16% auto 2.666%;
}
.logo-box img{
    width: 100%;
}
h3{
    text-align: center;
    font-size: 40px;
    color:#389ffe;
    font-weight: normal;
    margin-bottom: 60px;
}

input{
    display: block;
    width: 90%;
    margin: 0 auto;
    border: 0;
    background: #051b29;
    height: 100px;
    line-height: 100px;
    border-radius: 14px;
    color: #618198;
    font-size: 36px;
    padding: 5px 10px 5px 12%;
    box-sizing: border-box;
    outline:0;
}
.l{
    position: relative;
}
.phone{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom:1px solid #07263b;
}
.phone-l::after{
    position: absolute;
    content:'';
    background: url('../../assets/img/phone.png') no-repeat;
    background-size:100%;
    width: 50px;
    height:50px; 
    top: 25px;
    left: 8%;
}
.pass{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.pass-l::after{
    position: absolute;
    content:'';
    background: url('../../assets/img/pass.png') no-repeat;
    background-size:100%;
    width: 50px;
    height:50px; 
    top: 25px;
    left: 8%;
}
.login-btn{
   display: block;
    width: 90%;
    color: #07263b;
    text-align: center;
    font-size: 40px;
    background: #ffc50c;
    border-radius: 50px;
    margin: 10.666% auto;
    height: 100px;
    line-height: 100px;
}
.login-btn.disabled{
    background: #618198
}