<div class="setting-page">
  <div class="avatar">
    <img src="{{avatar}}">
  </div>
  <p class="username">{{nickname}}</p>


  <ul class="setting-list">
    <li (tap)="uploadInfo()"><span class="icon cert"></span>上传认证资料<span class="arrow"></span><span class="status">{{validTips}}</span></li>
    <li><span class="icon intrude"></span>达标用户说明<span class="arrow"></span></li>
    <li><span class="icon notice"></span>重要公告<span class="arrow"></span></li>
  </ul>

  <p class="tips">*联系客服：<span class="b">QQ123456789，手机138123456789</span></p>
</div>