.pop-page{
    max-width: 750px;
    margin: 0 auto;
}
.qr-code{
    width: 50%;
    margin: 30% auto 10px;
    border: 5px solid #8db7d3;
    border-radius: 5px;
}
.qr-code img{
    width: 100%;
    display: block;
}
.desc{
    color:#38a1ff;
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
}

.btn{
    display: block;
    font-size: 20px;
    background: #f8c00d;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #07263b;
    width: 60%;
    margin: 15px auto;
    border-radius: 30px;
    text-decoration: none;
}