<!--<div class="top-bar">
  数据查询
</div>-->


<div class="query-main">
  <div class="data-btn">
    <div class="data-btn-border"></div>
    <div class="data-btn-inner">
      <div class="data-btn-header">
        <img src="assets/img/data.png">
        <h3>我的拓展数据</h3>
        <p class="sub-title">My expanding data</p>
      </div>
      <div class="data-btn-bottom">
        <a href="javascript:;">进入</a>
      </div>
    </div>
  </div>



  <div class="data-btn disabled" id="second">
    <div class="data-btn-border"></div>
    <div class="data-btn-inner">
      <div class="data-btn-header">
        <img src="assets/img/data.png">
        <h3>二级拓展数据</h3>
        <p class="sub-title">Second expansion data</p>
      </div>
      <div class="data-btn-bottom">
        <a href="javascript:;">账号尚未开通</a>
      </div>
    </div>

  </div>


</div>

<div class="nav-bot">
  <a class="nav cur">数据查询</a>
  <a class="nav">推广</a>
  <a class="nav">设置</a>
</div>