<div class="article">
  <h1>合作协议备忘录</h1>
  <p>
    鉴于：<br> 乙方是一名具有境外证券投资客户资源的独立人或团体，有志于长期在两港公司旗下“易点投”平台上拓展投资境外证券的新用户。 甲方是一家依据中华人民共和国法律成立并依法持续经营的公司，旗下的“易点投”是国内知名的投资类社区平台。现甲乙双方为了实现共同的目标，经友好协商达成本协议。
  </p>
  <p>
    一、合作内容：<br> 1、甲方旗下易点投平台为eToro Group Limited（以下简称eToro）渠道合作方，通过易点投平台导流用户到eToro开立境外证券账户、交易。本协议签订时，视为乙方已经了解eToro Group Limited的业务情况。<br>    2、乙方以甲方经纪人身份拓展业务，增加通过甲方易点投平台在eToro Group Limited开立账户并进行境外证券交易的用户。乙方使用易点投提供的专用渠道在eToro开户，如乙方使用其他渠道在eToro开户，则不计算为有效户。
  </p>
  <p>
    二、乙方须满足的条件及提供资料<br> 1、乙方必须在易点投注册账号，并在eToro开立股票账号。
    <br> 2、18岁以上，65岁以下的居民，或团体法人。
    <br> 3、未在其他有竞争性质的公司任职或签有委托合同。
    <br> 4、有下列情形之一者不予选用：
    <br> 1）存在不良嗜好，如赌博、吸毒等；
    <br> 2）有违法犯罪记录或曾因违法、违规、违章被解雇的；
    <br> 3）甲方认为不宜从事委托事项的其他情形。
    <br> 5、申请成为经纪人需提供的资料
    <br> 1）上传身份证。
    <br> 2）接收佣金的银行账户；银行账号户名应当与经纪人姓名保持一致。
    <br> 3）公司认为有必要提供的其他资料。
  </p>
  <p>
    三、双方权益<br> 1、乙方通过甲方易点投平台导流用户在eToro开立账户、交易，当中出现交易、资金、网络技术等风险，均与甲方无关。
    <br> 2、乙方申请成为甲方经纪人需取得甲方审核通过，甲方授权后确认乙方成为甲方经纪人。 <br> 3、甲方有权根据实际情况和需要对社区管理规则进行修改，包括但不限于：限定当月开户量、有效户标准界定、eToro调整分配政策时甲方适时调整与甲方的收益分配政策等。甲方需将修改后的相关文件及时公布，并进行公告通知。乙方需自行了解相关内容，并参照新的文件执行。
    <br> 4、鉴于在本协议合作推广期限结束后，客户的服务期限尚未结束，故乙方有权在本合作协议终止后的三个月内仍享受收益分配。
    <br> 5、本协议的最终解释权归属于甲方。
  </p>
  <p>
    四、甲方职责<br> 1、甲方工作人员通过会议、电话、邮件、QQ、网站公告等方式表达日常管理规则。
    <br> 2、甲方应做好经纪人的日常管理、定期召集工作例会等工作。
    <br> 3、甲方提供乙方销售情况数据并按时结算和支付乙方该得收益。
  </p>
  <p>
    五、乙方职责及禁止行为<br> 1、乙方在从事客户招揽及在授权委托范围内开展相应客户服务等活动中，不得损害甲方利益,宣传内容必须符合甲方授权委托范围的规定；
    <br> 2、遵守甲方业务操作流程和工作规范的制度、经营、资金、重要行政事务等商业秘密；
    <br> 3、对外保守客户的相关信息；
    <br> 4、应当坚持证券市场的公开、公平、公正原则，不得从事不正当交易行为和不正当竞争；
    <br> 5、应当对客户高度负责，诚实守信，恪尽职守；应当以专业的技能，小心谨慎、勤勉尽责和客观科学的态度，为客户提供服务，维护客户的合法权益。
    <br> 6、不得超出甲方授权委托范围，以甲方名义开展与本业务无关的活动；不得以甲方名义对外签订任何形式的协议或作出承诺；
    <br> 7、乙方本月开户量达到20户，要及时向甲方申报；并预报当月后期的开户数量。否则甲方有权把超出部分开户当做无效开户。
    <br> 8、甲乙双方合作期间，及合作结束后的一年内，乙方不得与任何从事CFD业务的公司展开合作。包括：代理CFD产品，及如技术、业务、推广方面合作等。
    <br> 9、禁止乙方恶意刷开户量；制造假性有效户等行为。甲方有权把这部分开户当做无效开户，不发放当月收益，并终止合作。刷量开户或假性户的界定包括但不限于以下几点：
    <br> ①用户流失率大于40%。流失率=月流失户数/用户数；月流失户数为：月末账号资产总值≤$50元，且有出金。
    <br> ②一人一机一号视为有效，同一设备终端、IP地址对应多个用户的视为无效数据。 <br> ③甲方认定的其他刷量或者制造假性账户的行为。
  </p>
  <p>
    六、收益分配：<br> 1、甲乙双方不因签订本协议而存在劳动合同关系、雇佣关系,乙方亦不享受甲方的工资、社保、养老、医疗、住房公积金等待遇，乙方在执行本协议过程中与客户发生的债权债务纠纷均由乙方自行处理，与甲方无关。
    <br> 2、甲方按乙方每月在eToro上的有效户开户数量，以提成的方式向乙方支付收益：
    <br> 3、甲方在每月的下旬向乙方支付上月收益分配。如eToro未及时支付开户推广费用给甲方，甲方向乙方支付收益的时间也相应顺延；eToro停止支付开户推广费给甲方，甲方也停止分配收益给乙方。
    <br> 4、乙方需要依法纳税，费用由乙方承担，由甲方代扣代缴。
    <br> 5、银行转账等费用均由乙方支付。
    <br> 6、收款账号如有变更，乙方及时将变更后的账户信息通过书面形式通知甲方，若乙方未及时将变更后的账户信息通过书面形式通知甲方，甲方向之前的账户转账付款，视为甲方已履行向乙方支付佣金的义务”
    <br> 7、收款账户： <br> 开户行：
    <br> 户名：
    <br>
  </p>
  <p>
    七、收益计算<br> （以实际情况为准）

    <br>
  </p>
  <p>
    八、合作期限：<br> 本协议有效期为一年，即从 年 __月 __日 至  年__月__日。 在协议到期前的三十天，如甲乙双方对合作有异议，应当以书面的形式通知对方。 若双方均无异议，本协议自动延期一年。
  </p>
</div>